*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 50px;
}
.plain_wall{
    background-image: url(pictures/1.jpeg);
    width: 100%;
    height:90vh;
    align-content: center;
    text-align: center;
    margin-bottom: 5vh;
   }
a:any-link{
    text-decoration: none;
}
.plain_wall h1{
    color: white;
    font-size: 100px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 60vh;
}

.plain_wall .link {
    width: 100%;
    bottom: 0;
}
.plain_wall .link p{
    color:white;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
.plain_wall .link a{
    color:white;
    font-size: 2em;
}
#middle{
   
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#middle .right
{
    background-color:transparent;
    padding-top: 9em;
    padding-left: 2em;
    height: 62vh;
   
}
#middle .right p{
    font-family: cursive;
    font-size: 20px;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding:0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25; /* IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
  
}
#back{
        display: none;

}
#back:before{
    content: "<";
}
.hideinp{
    display:none;
    width: 210px;
    height: 40px;
}
#maint{
    height: 40px;
}
#maint{
    display: none;
}
.interested{
    margin-top: 30px;
    height: 70px;
    width: 210px;
    background-color: #889e81;
    color: white;
    border: 0px;
    border-radius:5px;
    font-size: 1em;
    font-family:cursive;
}

.column img {
  
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }


